// Colors

:root {
    --primary-color: #ff8300;
    --bg-color: #f2f2f2;
    --orange: #e57600;
    --orange-dark-hover: #ee7d04;
    --orange-100: #ffe6cc;
    --orange-hover: #ffebd6;
    --gray: #c6c6c6;
    --gray-dark: #959595;
    --green: #62bb2b;
    --green-100: #e0f1d5;
    --red: #FF2E00;
    --red-100: #FFD5CC;
}
