.primary_btn {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    position: relative;
    gap: 8px;
    padding: 8px 18px;
    background-color: var(--primary-color);
    white-space: nowrap;
    color: white;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    .arrow {
        svg {
            display: block;
        }
    }
    // &:hover,
    // &:active,
    // &:focus {
    //     opacity: 0.86;
    //     background-color: rgba(139, 139, 139, 0.13);
    // }
}
@media (max-width:991px) {
    .primary_btn {
        padding: 6px 14px;
        border-radius: 10px;
        span {
            font-size: 13px;
        }
    }
}