.secondary_btn {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    position: relative;
    gap: 8px;
    padding: 10px 20px;
    background-color: transparent;
    white-space: nowrap;
    color: black;
    border: 1px solid black;
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    .arrow {
        svg {
            display: block;
        }
    }
    &:hover,
    &:active,
    &:focus {
        background-color: rgb(240, 240, 240);
    }
}
@media (max-width:991px) {
    .primary_btn {
        padding: 6px 14px;
        border-radius: 10px;
        span {
            font-size: 13px;
        }
    }
}