.blog_slider {
    margin: 100px 0;
    overflow: hidden;
}
.blogs_grid {
    overflow: hidden;
    .slider {
        overflow: hidden;
    }
    .dealOfDay {
        height: 471px;
        .image0 {
            width: 225px;
        }
    }
    .blog_item {
        background-color: var(--bg-color);
        border-radius: 16px;
        display: block;
        .blog_image {
            padding: 12px;
            padding-bottom: 0;
            img {
                border-radius: 12px;
            }
        }
        .blog_details {
            padding: 16px;
            h3 {
                margin-bottom: 16px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                color: var(--gray-dark);
                margin-bottom: 24px;
            }
            .bottom {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li {
                        color: var(--gray-dark);
                        &:not(:last-child) {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            &::after {
                                content: "";
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #dddddd;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
.blogs_list {
    .blogs_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    .dealOfDay {
        position: relative;
    }
    .bottom0 {
        text-align: center;
        padding: 32px 0;
        span {
            display: block;
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 16px;
        }
    }
    .showMore {
        background-color: black;
        color: white;
        width: 100%;
        max-width: 296px;
        justify-content: center;
        padding: 10px 24px;
    }
}

@media (max-width: 1200px) {
    .blogs_list {
        .blogs_grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 991px) {
    .blogs_grid {
        overflow: visible;
        .blog_item {
            .blog_details {
                br {
                    display: none;
                }
                h3 {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    overflow: hidden;
                }
                p {
                    margin-bottom: 0;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    overflow: hidden;
                }
            }
            .bottom {
                display: none;
            }
        }
        .dealOfDay {
            height: fit-content;
            gap: 10px;
            .image0 {
                width: 71%;
                max-width: 268px;
                margin-top: 14px;
            }
        }
    }
    .blogs_list {
        .blogs_grid {
            grid-template-columns: 1fr 1fr;
            gap: 20px 6px;
            .dealOfDay {
                height: auto;
                .ProductoftheWeek {
                    left: 6px;
                    top: 6px;
                    font-size: 9px;
                    padding: 5px 10px;
                }
                .image0 {
                    padding: 0 20px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .blog_item {
                .blog_image {
                    padding: 4px;
                    padding-bottom: 0;
                }
                .blog_details {
                    padding: 12px 6px;
                    h3 {
                        font-size: 14px;
                    }
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
.single_blog {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 612px;
        display: block;
        background-color: var(--bg-color);
        z-index: -1;
    }
    .container {
        > * {
            margin: 0 auto;
        }
    }
    .top_content {
        text-align: center;
        width: 100%;
        max-width: 664px;
        margin: 0 auto;
        padding: 56px 0;
        .items {
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
            margin-bottom: 24px;
            li {
                color: var(--gray-dark);
                font-weight: 500;
                font-size: 16px;
                &:not(:last-child) {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    &::after {
                        content: "";
                        display: block;
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                        background-color: rgba(0, 0, 0, 0.247);
                    }
                }
                span {
                    color: var(--primary-color);
                }
            }
        }
        p {
            margin-bottom: 0;
        }
        .blog_title {
            margin-bottom: 16px;
            h1 {
                font-weight: 600;
                font-size: 40px;
                line-height: 1.2;
                span {
                    color: var(--primary-color);
                }
            }
        }
    }
    .blog_image {
        width: 100%;
        max-width: 1080px;
        margin-bottom: 56px;
    }
    .content {
        width: 100%;
        max-width: 856px;
    }
    p {
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 18px;
        color: var(--gray-dark);
    }
    h2 {
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 32px;
    }
    .image0 {
        margin: 32px 0;
    }
    .testimonial {
        border: 1px solid var(--bg-color);
        padding: 32px;
        border-radius: 24px;
        margin-bottom: 32px;
        .title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 0;
        }
    }
    img {
        border-radius: 24px;
    }
    .similar_products {
        background-color: var(--bg-color);
        border-radius: 24px;
        margin-bottom: 32px;
        .slider {
            padding: 29px;
        }
    }
    .share_blog {
        background-color: var(--bg-color);
        border-radius: 24px;
        text-align: center;
        padding: 56px 20px;
        .icon {
            margin-bottom: 12px;
        }
        p {
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 32px;
            color: black;
        }
        .social_media {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            a {
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #000000;
                border-radius: 16px;
            }
        }
    }
}
@media (max-width: 576px) {
    .single_blog {
        &::after {
            height: 432px;
        }
        p {
            font-size: 16px;
        }
        h2 {
            font-size: 26px;
        }
        .testimonial {
            padding: 16px;
        }
        .top_content {
            padding: 30px 0;
            .blog_title {
                h1 {
                    font-size: 28px;
                }
            }
            .items {
                gap: 5px;
                li {
                    font-size: 14px;
                    gap: 5px;
                }
            }
        }
        .similar_products {
            .slider {
                margin: 0 -15px;
            }
        }
    }
}
